.navbar-default .navbar-nav > li > a.active,
.navbar-default .navbar-nav > li > a.active:focus,
.navbar-default .navbar-nav > li > a.active:hover {
  color: #555;
  background-color: #e7e7e7;
}

.navbar {
    min-height: 100px !important;
    background-color: white !important;
}

.nav-logo {
    width: 300px;
    height: auto;
}

.nav-logo-container {
    padding: 0px 30px 0px 0px;
}

